.container {
    background-color: #f2e9e4;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 150%;
    padding: 10px;
    font-family: 'Lora', serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}

 .wrapper {
    flex: 1;
    min-width: 50%;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
 }
  
.link {
    margin: 0 0 20px;
    color: #3d5a80;
    text-decoration: none;
}

.link:hover {
    color: #6290cc;
}


.author, .time {
    color:#3d5a80;
}
  
