.container {
	background-color: #f2e9e4;
	width: 100%;
	min-height: 100%;
    font-family: 'Lora', serif;
	padding: 0px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.article {
	min-height: 100%;
	margin-right: 0;
	font-size: 150%;
	width: 50%;
	padding-left: 25%;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.wrapper {
	flex: 1;
	padding: 0px 50px 10px;
	margin-top: 0;
	margin-left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	min-width: 50%;
}

.p{
	margin-right: 0;
	padding-right: 0;
}

.p,
h3, .time{
	color: #3d5a80;
}

.link {
    color: #3d5a80;
}

.Input {
    width: 30%;
	margin-left: 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
}

@media (max-width: 1300px) {
	.content {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}
	.wrapper {
		align-items: center;
	}
}
