.navBar {
    display: flex;
    justify-content: space-between;
    background-color: #293241;
    font-family: 'Raleway', sans-serif;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    box-sizing: border-box;
}

.logo {
    height: 55px;
    border: 2px solid #4271c2;
    border-radius: 5px;
    margin-right: 10px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.ul .li {
    display: inline;
}

.link {
    color: white;
    padding: 15px;
    border-radius: 5px;
    background-color: #ce5e42;
    text-decoration: none;
    font-size: 150%;
}



.link:hover {
    background-color: #f8704e; 
}

@media (max-width: 1000px) {
    .navBar {
        height: 400px;
    }
    .ul {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
}